
.icon-battery:before { content: '\e800'; } /* '' */
.icon-chat:before { content: '\e801'; } /* '' */
.icon-engine:before { content: '\e802'; } /* '' */
.icon-favorites:before { content: '\e803'; } /* '' */
.icon-fuel:before { content: '\e804'; } /* '' */
.icon-gearbox:before { content: '\e805'; } /* '' */
.icon-hotel:before { content: '\e806'; } /* '' */
.icon-insurance:before { content: '\e807'; } /* '' */
.icon-key:before { content: '\e808'; } /* '' */
.icon-layers:before { content: '\e809'; } /* '' */
.icon-location-sign:before { content: '\e80a'; } /* '' */
.icon-map:before { content: '\e80b'; } /* '' */
.icon-oil:before { content: '\e80c'; } /* '' */
.icon-parking-worker:before { content: '\e80d'; } /* '' */
.icon-pointer:before { content: '\e80e'; } /* '' */
.icon-repair:before { content: '\e80f'; } /* '' */
.icon-responsive:before { content: '\e810'; } /* '' */
.icon-seat:before { content: '\e811'; } /* '' */
.icon-settings:before { content: '\e812'; } /* '' */
.icon-shopping-bag:before { content: '\e813'; } /* '' */
.icon-taxi-driver:before { content: '\e814'; } /* '' */
.icon-telephone:before { content: '\e815'; } /* '' */
.icon-tire:before { content: '\e816'; } /* '' */
.icon-tow-truck:before { content: '\e817'; } /* '' */
.icon-wallet:before { content: '\e818'; } /* '' */
.icon-stopwatch:before { content: '\e819'; } /* '' */
.icon-worldwide:before { content: '\e81a'; } /* '' */
.icon-24-hours:before { content: '\e81b'; } /* '' */
.icon-airplane:before { content: '\e81c'; } /* '' */
.icon-steering-wheel:before { content: '\e81d'; } /* '' */
.icon-stopwatch-2:before { content: '\e81e'; } /* '' */